<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Properties>
<!--        <Property name="CONSOLE_LOG_PATTERN">${thread:threadName} %-5level %m%n</Property>-->
        <Property name="CONSOLE_LOG_PATTERN">%d %p %C{1.} [%t] %m%n</Property>
        <Property name="FILE_LOG_PATTERN">%d %p %C{1.} [%t] %m%n</Property>
        <Property name="DATABASE_LOG_PATTERN">%d %p %C{1.} [%t] %m%n</Property>
<!--        <Property name="APP_LOG_ROOT">./logs/customer_sample</Property>-->
        <Property name="APP_LOG_ROOT">d:/logs/customer_sample</Property>
        <Property name="APP_LOG_ROOT_ARCHIVE">d:/logs/customer_sample/archive</Property>
    </Properties>

    <CustomLevels>
        <CustomLevel name="VALIDATOR" intLevel="450"/>
        <CustomLevel name="CUSTOMER-INFO" intLevel="401"/>
        <CustomLevel name="CUSTOMER-EXCEPTION" intLevel="201"/>
    </CustomLevels>

    <Appenders>

        <Routing name="FileLoggerRouting">
            <Routes pattern="$${thread:threadName}">
                <Route>
                    <RollingFile name="FileLogger" fileName="${APP_LOG_ROOT}/customer.log"
                                 filePattern="${APP_LOG_ROOT_ARCHIVE}/%date{yyyy-MM-dd}/customer-%date{yyyyMMdd-hhmmss}-%i.log.zip">
                        <LevelRangeFilter minLevel="INFO" maxLevel="CUSTOMER-INFO" onMatch="ACCEPT" onMismatch="DENY"/>
                        <PatternLayout pattern="${FILE_LOG_PATTERN}" charset="UTF-8"/>
                        <Policies>
                            <SizeBasedTriggeringPolicy size="20MB"/>
                        </Policies>
                        <DefaultRolloverStrategy compressionLevel="2"/>
                    </RollingFile>
                </Route>
            </Routes>
        </Routing>
        <Routing name="ConsoleLoggerRouting">
            <Routes pattern="$${thread:threadName}">
                <Route>
                    <Console name="ConsoleLogger" target="SYSTEM_OUT">
                        <PatternLayout pattern="${CONSOLE_LOG_PATTERN}" charset="UTF-8"/>
                        <LevelRangeFilter minLevel="FATAL" maxLevel="ALL" onMatch="ACCEPT" onMismatch="DENY"/>
                    </Console>
                </Route>
            </Routes>
        </Routing>
        <Routing name="ErrorLoggerRouting">
            <Routes pattern="$${thread:threadName}">
                <Route>
                    <RollingFile name="ErrorFileLogger" fileName="${APP_LOG_ROOT}/customer-error.log"
                                 filePattern="${APP_LOG_ROOT_ARCHIVE}/%date{yyyy-MM-dd}/customer-error-%date{yyyyMMdd-hhmmss}-%i.log.zip">
                        <LevelRangeFilter minLevel="ERROR" maxLevel="CUSTOMER-EXCEPTION" onMatch="ACCEPT" onMismatch="DENY"/>
                        <PatternLayout pattern="${FILE_LOG_PATTERN}" charset="UTF-8"/>
                        <Policies>
                            <SizeBasedTriggeringPolicy size="20MB"/>
                        </Policies>
                        <DefaultRolloverStrategy compressionLevel="2"/>
                    </RollingFile>
                </Route>
            </Routes>
        </Routing>


        <Routing name="ValidatorLoggerRouting">
            <Routes pattern="$${thread:threadName}">
                <Route>
                    <RollingFile name="ErrorFileLogger" fileName="${APP_LOG_ROOT}/customer-validator.log"
                                 filePattern="${APP_LOG_ROOT_ARCHIVE}/%date{yyyy-MM-dd}/customer-validator-%date{yyyyMMdd-hhmmss}-%i.log.zip">
                        <LevelRangeFilter minLevel="VALIDATOR" maxLevel="VALIDATOR" onMatch="ACCEPT" onMismatch="DENY"/>
                        <PatternLayout pattern="${FILE_LOG_PATTERN}" charset="UTF-8"/>
                        <Policies>
                            <SizeBasedTriggeringPolicy size="20MB"/>
                        </Policies>
                        <DefaultRolloverStrategy compressionLevel="2"/>
                    </RollingFile>
                </Route>
            </Routes>
        </Routing>

    </Appenders>
    <Loggers>

        <Logger name="org.hibernate" level="OFF" additivity="false">
            <AppenderRef ref="ConsoleLoggerRouting"/>
        </Logger>

        <Root level="debug">
            <AppenderRef ref="FileLoggerRouting"/>
            <AppenderRef ref="ConsoleLoggerRouting"/>
            <AppenderRef ref="ErrorLoggerRouting"/>
            <AppenderRef ref="ValidatorLoggerRouting"/>
        </Root>
    </Loggers>
</Configuration>

